button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-block-start: inherit;
}

input {
    background-color: #a1d9ec;
    border: "2px";
    border-color: #008cba;
    color: "black";
    padding: 15px;
    font-size: 13px;
    width: 300px;
    margin-block-start: inherit;
}